@media only screen and (max-device-width: 480px) {
  .container {
    padding: 0 10px !important;
  }
}
html, body {
  background-color: #E3E9ED !important;
  height: 100% !important;
}
.navbar-inner {
  border-radius: 0 0 0 0 !important;
}
.navbar-inner .brand {
  color: #000000;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}
.container.markdown {
  margin-bottom: 18px;
}
/* button */
.btn {
  font-size: 14px;
  font-weight: bold;
  padding: 7px 14px;
}
.btn.w50 {
  width: 50%;
}
.btn.w100 {
  width: 100%;
}
.btn-group .btn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
/* form */
form {
  margin: 0 !important;
}
textarea.content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 540px;
  margin-bottom: 18px;
  font-family: Menlo,Monaco,"Courier New",monospace !important;
}
/* markdown */
.markdown {
  min-height: 540px;
}
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5 {
  margin: 20px 0 10px;
  padding: 0;
}
.markdown > h1:first-child, .markdown > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
/* footer */
body > footer {
  text-align: center;
  padding: 18px 0 20px;
}
