%form{"accept-charset" => "UTF-8", :action => "/#{@post.hash_id}", :method => "post"}
  != Rack::Csrf::csrf_tag(env)
  .button-group
    - unless @post.id.nil?
      %input{:type => :hidden, :name => "_method", :value => "put"}
    %button.btn.btn-primary{:type => :submit, :value => "Post"} Post
  %textarea.content{:name => :content}!~ @post.content
