!!! 5
%html
  %head
    %title= ["Marklite", @post.hash_id].select{|s|!s.nil?}.join(" - ")
    %meta{:charset => "UTF-8"}
    %meta{:content => "width=320, initial-scale=1.0", :name => "viewport"}
    %link{:rel => "stylesheet", :href => "http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css"}
    -#%link{:rel => "stylesheet", :href => "/stylesheets/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/bootstrap.css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/application.css"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
  %body
    - if defined?(style) && style == false
      != yield
    - else
      %header.navbar
        .navbar-inner
          .container
            %a.brand{:href => "/"} Marklite
            %ul.nav.pull-right
              - if !@post.id.nil? && defined?(content)
                %li
                  %a{:href => "/#{@post.hash_id}/edit"}
                    %i.icon-edit.icon-white
                    Edit
      .container
        != yield
      %footer
        - if request.path_info == "/"
          .container
            Created by
            %a{:href => "http://twitter.com/superbrothers", :target => "_blank"} @superbrothers
    %script{:src => "/javascripts/application.js", :defer => true}
