.container.markdown
  !~ content

%form{:method => :post, :action => "/#{@post.hash_id}"}
  .btn-group
    %button#btn-delete.btn.btn-danger.w50{:type => :submit, :value => "Delete"} Delete
    %a.btn.btn-success.w50{:href => "/#{@post.hash_id}/edit"} Edit
  %input{:type => :hidden, :name => :_method, :value => "delete"}
  != Rack::Csrf::csrf_tag(env)

:javascript
window.addEventListener("load", function () {
  document.getElementById("btn-delete").addEventListener("click", function (e) {
    if (!confirm("Are you sure you want to delete this?")) {
      e.preventDefault();
      return false;
    }
  }, false);
}, false);
